# Files to ignore when considering what GIT should commit.

# Visual Studio
**/enc_temp_folder
*.suo
*.user
*.sln.docstates
*.obj
*.obj.enc
*.pch
*.tlog
*.log
*.scc
*.exp
*.ilk
*.lastbuildstate
vc120.pdb
ipch
*.sdf
*.opensdf
*.idb
*.vcxproj*
.vs
.vscode
*.sln

# OSX/Linux build products
.DS_STORE
*.mak
*.project
*.vpc_crc
*.xcodeproj/
obj*/
!/*/*/devtools/*.mak
!/*/*/utils/smdlexp/smdlexp.mak

# Specific Source build products
captioncompiler.exe
captioncompiler.lib
captioncompiler.pdb
client.dll
client.lib
client.pdb
fgdlib.lib
game_shader_dx9.dll
game_shader_dx9.lib
game_shader_dx9.pdb
glview.exe
glview.lib
glview.pdb
height2normal.exe
height2normal.lib
height2normal.pdb
mathlib.lib
motionmapper.exe
motionmapper.lib
motionmapper.pdb
phonemeextractor.dll
phonemeextractor.lib
phonemeextractor.pdb
qc_eyes.exe
qc_eyes.pdb
QC_Eyes.res
raytrace.lib
server.dll
server.lib
server.pdb
serverplugin_empty.dll
serverplugin_empty.lib
serverplugin_empty.pdb
tgadiff.exe
tgadiff.lib
tgadiff.pdb
tier1.lib
vbsp.exe
vbsp.lib
vbsp.pdb
vgui_controls.lib
vice.exe
vice.lib
vice.pdb
vrad.exe
vrad.lib
vrad.pdb
vrad_dll.dll
vrad_dll.lib
vrad_dll.pdb
vtf2tga.exe
vtf2tga.lib
vtf2tga.pdb
vtfdiff.exe
vtfdiff.pdb
vvis.exe
vvis.lib
vvis.pdb
vvis_dll.dll
vvis_dll.lib
vvis_dll.pdb

client.so
client.so.dbg
client_srv.so
client_srv.so.dbg
game_shader_dx9.so
game_shader_dx9.so.dbg
game_shader_dx9_srv.so
game_shader_dx9_srv.so.dbg
mathlib.a
raytrace.a
server.so
server.so.dbg
server_srv.so
server_srv.so.dbg
serverplugin_empty.so
serverplugin_empty.so.dbg
serverplugin_empty_srv.so
serverplugin_empty_srv.so.dbg
tier1.a
vgui_controls.a

client.dylib
client.dylib.dSYM/
server.dylib
server.dylib.dSYM/

# Files generated by Sentinel tool
*.vpc.sentinel

# Files generated by running a mod
config.cfg

# Shader files
*.tmp